/* .fa{
  height: 400px;
  margin: auto;
}
@media (prefers-reduced-motion: no-preference) {
  .transition{
  animation: transition infinite 20s linear;
}
}

@keyframes transition {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
  
} */

*{
  font-size: 18px;
}

.container{
  background-color: #18191a;

}

.Posting{
  width: 40%;
  background-color: #242526;
  margin: 10px auto!important;
  padding: 10px !important;
}

.user{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.user > img{
  width: 40px;
  height: 40px;
  border-radius: 34px;
  vertical-align: middle;
}

.description {
  margin: 20px auto !important;
  color: #fff;
}

/* .description  p{
} */

.userName{
  margin-left: 5px !important;
  font-size: 15px !important;
  color: white;
  line-height: 15px;
}


.userName small{
  color: #a09d9d;

}

.Images .border{ 
  border-radius: none !important;
}

hr{
  border: 1px solid gray;
}